.snackbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2rem);
  padding: 1rem;
  background-color: #f44336;
  color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: slideInAndOut ease-in-out;
  animation-duration: 2s;
}

@keyframes slideInAndOut {
  0% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
